.login__block {
  margin: 0 470px 0 470px;
  background-color: white;
}

.login__logo {
  background-color: black;
  margin-right: 20px;
  border-radius: 20px;
}

.login__text-sign {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}

.login__sing-posit {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  position: absolute;
  left: 30px;
  display: flex;
  align-items: center;
}
